@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

/* --------------- GENERAL DEFINITIONS ---------------- */

html {
	scroll-behavior: smooth;
}

:root {
	--lunargreen: #171817;
	--solargreen: #dbdbdb;
	--lemongrass: #9ca497;
	--dustygray: #9c9c9c;
}

body {
	background-color: var(--lunargreen);
	font-family: 'Noto Sans JP', sans-serif;
	height: 100vh;
	margin: 0;
	font-size: 1.4rem;
	letter-spacing: 2px;
	cursor: default;
	overflow-x: hidden;
}

.page {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	position: relative;
	color: var(--solargreen);
	background-color: var(--lunargreen);
}

::selection {
	color: var(--lunargreen);
	background: rgba(255, 255, 255, 0.9);
}

.separator {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.additional {
	height: 20vh !important;
}

.header {
	margin-bottom: 2rem;
}

.poem {
	position: absolute;
	top: 45vh;
}

/* custom scrollbar */
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	background: var(--lunargreen);
}
::-webkit-scrollbar-thumb {
	background: #888;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* --------------- INTRO PAGE ---------------- */

.clicker {
	transition: 5s;
	z-index: 5;
}

.clicker {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 5rem;
	width: 12rem;
	letter-spacing: 4px;
	background-color: rgba(255, 255, 255, 0);
	cursor: pointer;
	color: var(--solargreen);
	text-decoration: none;
}

.clicker:hover {
	background-color: rgba(255, 255, 255, 0);
	letter-spacing: 8px;
}

.clicker:active {
	letter-spacing: 4px;
	font-size: 1.4rem;
	transform: scale(0.97);
	transition: 0s;
}

.clicker span {
	position: absolute;
	display: block;
}

.clicker span:nth-child(1) {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 2px;
	height: 100%;
	transform: scaleY(0);
	transform-origin: bottom;
	background-color: rgba(255, 255, 255, 0.6);
	transition: transform 0.4s;
	transition-delay: 0.2s;
}

.clicker:hover span:nth-child(1) {
	transform: scaleY(1);
	transform-origin: bottom;
	transition: transform 0.5s;
}

.clicker span:nth-child(2) {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	transform: scaleX(0);
	transform-origin: left;
	background-color: rgba(255, 255, 255, 0.6);
	transition: transform 0.4s;
	transition-delay: 0.2s;
}

.clicker:hover span:nth-child(2) {
	transform: scaleX(1);
	transform-origin: left;
	transition: transform 0.5s;
}

.clicker span:nth-child(3) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	transform: scaleX(0);
	transform-origin: left;
	background-color: rgba(255, 255, 255, 0.6);
	transition: transform 0.2s;
}

.clicker:hover span:nth-child(3) {
	transform: scaleX(1);
	transform-origin: left;
	transition: transform 0.5s;
	transition-delay: 0.5s;
}

.clicker span:nth-child(4) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 2px;
	height: 100%;
	transform: scaleY(0);
	transform-origin: bottom;
	background-color: rgba(255, 255, 255, 0.6);
	transition: transform 0.2s;
}

.clicker:hover span:nth-child(4) {
	transform: scaleY(1);
	transform-origin: bottom;
	transition: transform 0.5s;
	transition-delay: 0.5s;
}

/* --------------- PAGE 1 ---------------- */

.title {
	display: none;
}
.option {
	position: absolute;
	display: none;
	height: 4rem;
	width: 9rem;
	transition: 0.2s;
}
.minipeopleheader {
	position: absolute;
	color: var(--lunargreen);
	font-weight: bold;
	font-size: 1.8rem;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: flex;
}
.minipeoplespan {
	margin: 0 0.5rem;
	transition: 5s;
	opacity: 0;
}
.option:hover {
	letter-spacing: 6px;
}
.option.yes {
	top: 25%;
}
.option.no {
	top: 66%;
}
.one {
	transition: 5s;
}
.uno {
	transition: 10s;
	height: 50vh;
	background-image: url('http://alternopolis.com/wp-content/uploads/2017/05/blackwhitemysteriouspaintings6.jpg');
}

/* --------------- PAGE 2 ---------------- */

.two {
	height: 40vh;
}

.dos {
	background-image: url('http://www.collater.al/wp-content/uploads/2018/05/Mini-People-In-The-Jungle-gli-animali-mistici-di-Dawid-Planeta-Collater.al-4.jpg');
	height: 100vh;
}

/* --------------- PAGES 3 ---------------- */

.three {
	height: 70vh;
}

.tres {
	background-image: url('https://cdnb.artstation.com/p/assets/images/images/033/815/547/large/dawid-planeta-1.jpg?1610638096');
	background-position: center;
	/* background-size: 80%; */
	height: 100vh;
}

.question {
	opacity: 0;
}

/* --------------- PAGE 4 5 6 7 ---------------- */

.four {
	background-image: url('https://cdnb.artstation.com/p/assets/images/images/006/014/115/large/dawid-planeta-wieloryb.jpg?1495426767');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}

.five {
	background-image: url('https://cdna.artstation.com/p/assets/images/images/032/186/184/large/dawid-planeta-01a.jpg?1605713339');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}

.six {
	background-image: url('images/guepardo.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}

/* --------------- PAGE 7 ---------------- */

.seven {
	height: 200vh;
	/* background-size: auto; */
	background-position: center;
	z-index: -1;
	background-image: url('images/tall-tree.jpg');
}

.text7 {
	margin-top: 500rem;
	width: 105vw;
	font-size: 1.2rem;
	position: absolute;
	color: rgba(255, 255, 255, 0.2);
	line-height: 2.1;
}

.enlightedword {
	transition: 5s;
}

.enlightened {
	color: rgba(255, 255, 255, 1);
}

/* --------------- PAGE 8 ---------------- */

.eight {
	background-color: rgb(7, 7, 7);
	position: relative;
	max-height: 60vw;
}

.absoluteimage img {
	position: absolute;
}

.absoluteimage .grdnt {
	position: absolute;
	opacity: 1;
    background:radial-gradient(circle, rgba(7, 7, 7, 0) 0%, rgba(131, 77, 77, 0) 30%, rgba(7, 7, 7, 1) 100%);
}

.numberone img, .numberfive img {
	top: 5%;
	left: 4%;
	width: 45%;
}

.numbertwo img, .numbersix img,  .numbertwo .grdnt, .numbersix .grdnt {
	top: 15%;
	left: 51%;
	width: 35%;
	height: 60%;
}

.numberthree img, .numberseven img {
	top: -9%;
	left: 51%;
	width: 45%;
}

.numberfour img,  .numberfour .grdnt {
	top: 15%;
	left: 14%;
	width: 35%;
	height: 60%;
}
.numbereight img, .numbereight .grdnt {
	top: 15%;
	left: 14%;
	width: 35%;
	height: 40%;
}

/* --------------- PAGE 8 ---------------- */

.nine {
	height: 200vh;
	background-image: url('images/serpiente.jpg');
	background-size: cover;
}

/* --------------- ANIMATIONS ---------------- */

@keyframes fadebox {
	0% {
		opacity: 0.7;
	}
	100% {
		opacity: 0;
	}
}

@keyframes delayedfadein {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeinout {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
